body {
    margin: 0;
    background-color: silver;
}

header {
    padding: 2%;
    background-color: rgb(77, 51, 51);
    text-align: center;
}

select {
    padding: 2%;
    font-size: large;
    font-family: "Times New Roman", Times, serif;
    background-color: bisque;
    color: rgb(22, 49, 133);
    cursor: default;
    border-color: white;
    border-radius: 20%;
    border-width: 3px;
    border-style: ridge;
}

table, tr, th {
    background-color: white;
    border-spacing: 15px;
    border-collapse: separate;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(20, 34, 34);
    text-align: center;
}

td {
    border-style: groove;
    border-color: rgb(20, 34, 34);
}